@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body{
    background-color: #11122c;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
